<div class="info-window container">
  <h6><%= link_to "#{teacher.first_name} #{teacher.last_name}", "/users/#{teacher.id}" %></h6>
  <p><%= teacher.location %></p>
    <div class="languages">
      <% if teacher.languages.empty? %>
      <%= image_tag 'flags/ca.png', class: "flag-small" %>
      <% else %>
      <% teacher.languages.each do |language|   %>
      <%= image_tag language.flag, class: "flag-small" %>
      <% end %>
      <% end %>
    </div>
</div>
