.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
  opacity: 1;
  color: white;
  border-bottom: 2px solid white;
}

.logo {
  font-family: 'Dancing Script';
  font-size: 34px;
  font-weight: bold;
  font-height: 50px;
  color: white;
  margin-left: 30px;
}

.navbar-lewagon-white {
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  background-color: white !important;
  opacity: .9 !important;
}

.nav-item-black {
  color: black !important;
  border-bottom: 4px solid transparent;
}

.nav-item-black:hover {
  opacity: 1;
  color: black;
  border-bottom: 2px solid black !important;
}

.logo-black {
  color: black !important;
}
