.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.5s color ease;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: 'Dancing Script';
  font-size: 34px;
  font-weight: bold;
  font-height: 50px;
  color: white;
  margin-left: 30px;
}

.navbar-lewagon-white {
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  background-color: white !important;
}

.nav-item-black {
  color: black !important;
}

.logo-black {
  color: black !important;
}
