.btn-red {
  background-color: #ce2b37;
  border-color: #ffffff6b;
  color: #ffffff !important;
  opacity: 0.85;
}

.btn-red:hover {
  font-weight: lighter;
  background-color: #b92530;
  border-color: #ffffff6b;
  transition: ease 0.5s;
  opacity: 0.95;
}
